# don't upload macOS folder info
*.DS_Store

#python
*.pyc
__pycache__/
**/.pytest_cache/

#scripts
_*.sh
___*.py

# package
**/build/
**/dist/
**/*.egg-info/

# Local ROS inference artifacts
/weights/*
!/weights/README.md
/runs/
